.cmp-container--flex > .cmp-container {
    min-width: 400px;
}

.cmp-container--flex > .cmp-container > .aem-Grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cmp-container--flex > .cmp-container > .aem-Grid::before {
    display: none;
}

.cmp-container--flex > .cmp-container > .aem-Grid::after {
    display: none;
}

.cmp-container--flex > .cmp-container > .aem-Grid > .aem-GridColumn--default--4 {
    width: 32% !important;
}

.cmp-container--flex > .cmp-container > .aem-Grid > .aem-GridColumn--default--6 {
    width: 49% !important;
}

.cmp-container--flex > .cmp-container > .aem-Grid > .aem-GridColumn--default--8 {
    width: 64% !important;
}

.cmp-container--flex > .cmp-container > .aem-Grid > .aem-GridColumn--offset--default--3 {
    margin-left: 0%;
}

.cmp-container--flex > .cmp-container > .aem-Grid > .aem-GridColumn--offset--default--4 {
    margin-left: 0%;
}
