.cmp-title {
    margin-top: 60px;
    
}
.cmp-title__text {
    font-family: rubik, sans-serif;
    font-weight: bold;
    font-size: 36px;


}
.cmp-title__link {}

@media (max-width: $screen-medium) {
    .cmp-title {
        padding-left: $gutter-padding;   
        padding-right: $gutter-padding;   
        text-align: center;
    }
}
