.mobile-offer{


    .cmp-contentfragment__title {
        display: none;
    }
    
    .cmp-contentfragment__elements {
    
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        border: solid;
        border-color: $orange;
        max-width: 200px;
        max-height: 200px;
        min-height: 200px;
        padding: 12px;
        background-color: $orange;
        margin: 20px;
        box-sizing: border-box;
    }
    
    .cmp-contentfragment__element--title {
        color: white;
        font-size: 24px;
        font-weight: 500;
        max-width: 170px;
        line-height: 28px;
        margin-bottom: 10px;
        margin-top:5px
    
    }
    
    .cmp-contentfragment__element--description {
        color: white;
        font-size: 18px;
        line-height: 23px;
        font-weight: 100;
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    
    .cmp-contentfragment__element-title {
        display: none;
    }
    
    
    .cmp-contentfragment_image {
        display: none;
    }
    
    .cmp-contentfragment_image img{
        display: none
    }
    
    .cmp-contentfragment__element--cta{
        display: none
    }
    
    .cmp-contentfragment__element--ctalinkpath{
        display: none
    }
    
    
    .cmp-contentfragment__element--image{
        display: none
    }
    

}