
.cmp-teaser--flexcard {
    
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0px;

    .cmp-image__image{
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .cmp-teaser__content {
        padding: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

.cmp-teaser__content {
    padding: 30px;
}