scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/apacdemo
        create path (nt:unstructured) /content/dam/apacdemo/jcr:content
        set properties on /content/dam/apacdemo/jcr:content
        set cq:conf{String} to /conf/apacdemo
        set jcr:title{String} to \"APAC Demo\"
        end
        "
]
